<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 확인</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>예약 확인 페이지</h1>

<h2>사용자 정보</h2>
<p>이름: <span id="user-name"></span></p>
<p>이메일: <span id="user-email"></span></p>
<p>성별: <span id="user-gender"></span></p>
<p>핸드폰 번호 : <span id="user-phone"></span></p>

<h2>항공편 정보</h2>
<p>항공사: <span id="flight-airline"></span></p>
<p>출발지: <span id="flight-departure"></span></p>
<p>도착지: <span id="flight-arrival"></span></p>
<p>출발일: <span id="flight-departure-date"></span></p>
<p>출발 시간: <span id="flight-departure-time"></span></p>
<p>도착 시간: <span id="flight-arrival-time"></span></p>
<p>소요 시간: <span id="flight-duration"></span></p>
<p>가격: <span id="flight-price"></span></p>

<button id="confirm-booking">예약 확인</button>


</body>
</html>
